<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.xplanet.storm</string>

	<key>WorkingDirectory</key>
	<string>/Users/[username]/.xplanet/personal/scripts/temp</string>

	<key>ProgramArguments</key>
	<array>
		<string>../xplanet.sh</string>
		<string>storm</string>
	</array>

	<key>StartCalendarInterval</key>
	<array>
	<dict>
		<key>Minute</key>
		<integer>10</integer>
	</dict>
	</array>

	<key>StandardOutPath</key>
	<string>../../../logs/xplanet.log</string>
	<key>StandardErrorPath</key>
	<string>../../../logs/xplanet-storm.log</string>
</dict>
</plist>

